<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MASTER_SHAVADOOP_JAR/src/master_shavadoop/master_compute.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="master_shavadoop.master_compute"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MASTER_SHAVADOOP_JAR"/>
</launchConfiguration>
